<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/accounut.css" rel="stylesheet" type="text/css">

    <title>Document</title>
</head>

<body>

    <div class="div1">
        <div >
           <img class="img" src="<%= data.img%>" alt=""> 
        </div>
        <div class="userame">
            <%= data.userame%>
        </div>

        <i class="fas fa-search-location">search</i>
        <i class="fas fa-map-marker-alt">map</i>
        <i class="fas fa-sign-out-alt">log-out</i>

    </div>
    <div class="div2">

        <img class="map"
            src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/108073090/original/a0b97aa87eacdbb493e753774ebcf54688d78d71/draw-a-vector-map-in-illustrator-a2b4.jpg"
            alt="map image">
        <div class="location">
            <%= data.location%>
        </div>



        <div class="div3">


            <div>
                Full name : <%= data.full_name%>

            </div>
            <div>
                Email : <%= data.email%>
            </div>
            <div>
                Phone Num : <%= data.phone_num%>
            </div>
            <div>
                Major: <%= data.type_of_work%>
            </div>
            <div>
                Experience : <%= data.exp%>
            </div>
            <div>
                status : <%= data.status%>

            </div>

        </div>
    </div>




    <script src="https://kit.fontawesome.com/63131ae64f.js" crossorigin="anonymous"></script>
</body>

</html>