<!DOCTYPE HTML>
<html>

<head>
	<title>Prologue by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/style/account/css/base.css" />
	<link rel="stylesheet" href="/style/account/css/layout.css" />
	<link rel="stylesheet" href="/style/account/css/modules.css" />
	<link rel="stylesheet" href="/style/account/css/row.css" />
	<link rel="stylesheet" href="/style/account/css/form.css" />
</head>

<body class="is-preload">

	<!-- Header -->
	<div id="header">

		<div class="top">
			<% let visible=is_not_enable ?'none': 'block' %>
			<% let visibleCont = is_not_enable ? 'block':'none'%>

					<!-- Logo -->
					<div id="logo">
						<span class="image avatar48"><img src="<%= data.img %>" alt="" /></span>
						<h1 id="title">
							<%= data.username %>
						</h1>
						<p>
							<%= data.type_of_work%>
						</p>
					</div>

					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#top" id="top-link"><span class="far fa-address-card">About me</span></a></li>
							<li><a href="#portfolio" id="portfolio-link"><span
										class="far fa-comment">Feedbacks</span></a></li>
							<li><a href="#Edit" style="display: <%= visible%>;" id="portfolio-link"><span
										class="far fa-edit">Edit Profile</span></a></li>
							<li><a href="#about" id="about-link"><span class="far fa-calendar-alt">Schedule</span></a>
							</li>
							<li><a href="#contact" id="contact-link"><span class="icon fa-envelope">Contact</span></a>
							</li>
						</ul>
					</nav>

		</div>

		<div class="bottom">

			<!-- Social Icons -->
			<ul class="icons">
				<li><a href="/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="/" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="<%= data.email%>" class="icon fa-envelope"><span class="label">Email</span></a></li>
			</ul>

		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<!-- Intro -->
		<section id="top" class="one dark cover" style="padding: 2em 0;">
			<div class="container">

				<header>
					<h2 class="alt">Hello <strong>
							<%= data.full_name%>
						</strong>, welcome in <a href="/">Emergency </a>-App.<br />

				</header>
			</div>
		</section>

		<!-- About Me -->
		<section id="about" class="three">
			<div class="container">

				<header style="margin: 0 0 1em 0;">
					<h2>About <%= data.username %>
					</h2>
				</header>

				<footer>
					<!-- <a href="#portfolio" class="button scrolly">Portfolio</a> -->
				</footer>
				<a href="#" id="funnyimg" class="image featured"><img src="images/funny3.gif" alt="" /></a>
				<div class="div1">
					<div class="div2">
						<div class="border">
							Your name : <%= data.full_name%>
						</div>
						<div class="border">
							Major : <%= data.type_of_work%>
						</div>
						<div class="border">
							experiance : <%= data.exp%>
						</div>

					</div>
					<div class="div3">

						<div class="border">
							location : <%= data.location%>
						</div>
						<div class="border">
							Role : <%= data.role%>
						</div>
						<div class="border">
							status : <%= data.status%>
						</div>



					</div>
				</div>

			</div>
		</section>
		<section id="portfolio" class="two">
			<div class="container">

				<header>
					<h2>Feedbacks</h2>
				</header>

				<p>This is some of my latest project:-</p>

				<div class="row">
					<div class="col-4 col-12-mobile">
						<article class="item">
							<a href="https://www.youtube.com/watch?v=heD52BxCjn4&feature=youtu.be"
								class="image fit"><img src="images/phoenix.png" alt="" /></a>
							<header>
								<h3>PHOENIX</h3>
							</header>
						</article>
						<article class="item">
							<a href="https://github.com/areejobaid94/Construction-Workers-Hub" class="image fit"><img
									src="images/pic03.jpg" alt="" /></a>
							<header>
								<h3>CONSTRUCTION WORKER </h3>
							</header>
						</article>
					</div>
					<div class="col-4 col-12-mobile">
						<article class="item">
							<a href="https://www.youtube.com/watch?v=FNhja-zZhBE&feature=youtu.be"
								class="image fit"><img src="images/tafran.png" alt="" /></a>
							<header>
								<h3>TAFRAN</h3>
							</header>
						</article>
						<article class="item">
							<a href="https://areejobaid94.github.io/lab-03/" class="image fit"><img src="images/lab.png"
									alt="" /></a>
							<header>
								<h3>Lab 05</h3>
							</header>
						</article>
					</div>
					<div class="col-4 col-12-mobile">
						<article class="item">
							<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
							<header>
								<h3>diet-guide-website</h3>
							</header>
						</article>
						<article class="item">
							<a href="https://areejobaid94.github.io/bus-mall/" class="image fit"><img
									src="images/bus.png" alt="" /></a>
							<header>
								<h3>bus-mall</h3>
							</header>
						</article>
					</div>
				</div>

			</div>
		</section>
		<!-- Portfolio -->
		<section id="Edit" class="two" style="display: <%= visible%>;">
			<div class="container">

				<header>
					<h2>Edit Profile</h2>
				</header>

				<p>This is some of my latest project:-</p>

				<div class="row">
					<div class="col-4 col-12-mobile">
						<article class="item">
							<a href="https://www.youtube.com/watch?v=heD52BxCjn4&feature=youtu.be"
								class="image fit"><img src="images/phoenix.png" alt="" /></a>
							<header>
								<h3>PHOENIX</h3>
							</header>
						</article>
						<article class="item">
							<a href="https://github.com/areejobaid94/Construction-Workers-Hub" class="image fit"><img
									src="images/pic03.jpg" alt="" /></a>
							<header>
								<h3>CONSTRUCTION WORKER </h3>
							</header>
						</article>
					</div>
					<div class="col-4 col-12-mobile">
						<article class="item">
							<a href="https://www.youtube.com/watch?v=FNhja-zZhBE&feature=youtu.be"
								class="image fit"><img src="images/tafran.png" alt="" /></a>
							<header>
								<h3>TAFRAN</h3>
							</header>
						</article>
						<article class="item">
							<a href="https://areejobaid94.github.io/lab-03/" class="image fit"><img src="images/lab.png"
									alt="" /></a>
							<header>
								<h3>Lab 05</h3>
							</header>
						</article>
					</div>
					<div class="col-4 col-12-mobile">
						<article class="item">
							<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
							<header>
								<h3>diet-guide-website</h3>
							</header>
						</article>
						<article class="item">
							<a href="https://areejobaid94.github.io/bus-mall/" class="image fit"><img
									src="images/bus.png" alt="" /></a>
							<header>
								<h3>bus-mall</h3>
							</header>
						</article>
					</div>
				</div>

			</div>
		</section>

		<!-- Contact -->
		<section id="contact" class="four">
			<div class="container">

				<header>
					<h2>Contact</h2>
				</header>

				<p>Sent me an email now or call me and let me save your life !!</p>

<<<<<<< HEAD
				<form method="post" action="areejobaid94@gmail.com" enctype="text/plain">
					<div class="row">
						<div class="col-6 col-12-mobile"><input type="text" name="<name>" placeholder="Phone number : <%= data.phone_num%>" /></div>
						<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email :<%= data.email%>" /></div>
						
						<div class="col-12">
							<input type="submit" value="Update" onclick="myFunction()" />
						</div>
=======
				<div class="row">
					<div class="col-6 col-12-mobile">Phone Num: <%= data.phone_num%>
					</div>
					<br>
					<div class="col-6 col-12-mobile">Email: <%= data.email%>"</div> 
					<div class="col-12" style="display: <%= visibleCont%>">
						<p>Or You Can Send To Me Adirect Email</p>
						<form method="post" action ='/message/<%= data.id %>'>
							<input name = 'message' type="text" placeholder="Write You Message" style="margin-bottom: 20px;">
							<input name = 'email'   type="text" value='<%= data.email%>' style="display: none;">
							<input type="submit" value="Send Message" onclick="myFunction()" />
						</form>
>>>>>>> bce8baa154f2c3ce8177d3fe4bcba7aef0c17fbb
					</div>


				</div>
		</section>

	</div>

	<!-- Footer -->
	<div id="footer">

		<!-- Copyright -->
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li>
			<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>


	</div>

	<!-- Scripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery.scrolly@0.0.1/jquery.scrolly.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.scrollex/0.2.1/jquery.scrollex.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.min.js"></script>
	<script src="/js/jsAccount/breakpoints.min.js"></script>
	<script src="/js/jsAccount/util.js"></script>
	<script src="/js/jsAccount/main.js"></script>
	<script src="/js/jsAccount/jquery.min.js"></script>
	<script src="/js/jsAccount/jquery.scrollex.min.js"></script>
	<script src="/js/jsAccount/jquery.scrolly.min.js"></script>
	<script src="/js/jsAccount/browser.min.js"></script>
	<script src="https://kit.fontawesome.com/63131ae64f.js" crossorigin="anonymous"></script>

</body>

</html>