<!DOCTYPE HTML>
<html>

<head>
    <title>Account</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/styles/account/style.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="">
    <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js"
        integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/header-footer/header.css">
    <link rel="stylesheet" href="/styles/header-footer/footer.css">


</head>

<body>
    <%- include('../partials/header') %>
        <div class="introduction">
            <% let visible=is_not_enable=='true' ?'none': 'block' %>
                <% let visibleCont=is_not_enable=='true' ? 'block' :'none'%>
                    <% let workerStutas=data.status==0? 'Not Available' : 'Available' %>
                        <% let workerRole=data.role==1? 'Worker' : 'Business Owner' %>

                            <h1 class="hello-name"> Hello <%= data.full_name%>
                            </h1>
                            <img class="user-img" src="<%= data.img %>" alt="" />
                            <div class="intro-texts">
                                <h1 class="hello-name the-user-username" id="title">
                                    Username: <%= data.username %>
                                </h1>
                                <p class="hello-name">
                                    Type of work: <%= data.type_of_work%>
                                </p>
                                <p class="hello-name">experiance : <%= data.exp%>
                                </p>
                                <p class="hello-name">email : <%= data.email%>
                                </p>
                                <p class="hello-name">Role : <%= workerRole%>
                                </p>
                                <p class="hello-name">status : <%= workerStutas%>
                                </p>
                            </div>
        </div>

        <div class="map-img" id="map" style="height: 550px;width: 600px;"></div>

        <section id="portfolio" class="two">
            <div class="cenarize-div">
                <div class="contactForm">
                    <form class="feedback" action="/feedback/<%= data.id%>" method="POST"
                        style="display:<%= visibleCont%>">
                        <h2>Feedbacks</h2>
                        <div class="inputBox">
                            <input type="hidden" name="ownerid" id='ownerid'>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="feedback" placeholder="Do you have any feedback?" required>
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="cenarize-div">
                <div class="contactForm">
                    <% dataFeedbacks.forEach(ele=>{%>
                        <form action="/deleteFeedback/<%= ele.user_id%>?_method=DELETE" method="POST">
                            <div class="container1">

                                <div class="inputBox">
                                    <img src="<%= ele.img %>" height='60px' width='60px'>
                                </div>
                                <div class="inputBox">
                                    <h3>
                                        <%= ele.username %>
                                    </h3>
                                </div>
                                <div class="inputBox"><input type="text" name="text" value="<%=ele.text%>"
                                        style="display: none;" hidden></div>
                                <div class="inputBox">
                                    <p class="small">
                                        <%= ele.text %>
                                    </p>
                                </div>
                                <div class="inputBox">
                                    <input type="submit" class="delete " style="display:<%= visible%>" value="X">
                                </div>
                            </div>
                        </form>
                        <%}) %>
                </div>
            </div>
        </section>
        <section id="Edit" class="two" style="display: <%= visible%>;">
            <div class="cenarize-div">
                <div class="contactForm">
                    <form action="/update/<%=data.id%>?_method=put" method="POST">
                        <h2
                            style="color: #1437B3; border: solid; border-style: inset; display: inline-block; margin-bottom: 10px;">
                            Edit your profile</h2>

                        <div class="inputBox">
                            <h2> Full Name :</h2>
                            <input id="editform" type="text" name="full_name" value=<%=data.full_name%> required>
                        </div>
                        <div class="inputBox">
                            <h2> Status :</h2>
                            <select id="editform" name="status" required value='<%= data.status%>'>
                                <option value="" disabled selected>Select your status</option>
                                <% if( data.status=='0' ){ %>
                                    <option value="1" selected>not Available</option>
                                    <option value="0">Available</option>
                                    <%}else{%>
                                        <option value="0" selected>Available</option>
                                        <option value="1">not Available</option>
                                        <%}%>
                            </select>
                        </div>
                        <div class="inputBox">
                            <h2> Type Of Work :</h2>
                            <select name="type_of_work" id="editform" value='<%= data.type_of_work%>'>
                                <option value="" disabled selected>type of work </option>
                                <option value="Smith">Smith</option>
                                <option value="Carpenter">Carpenter</option>
                                <option value="Plumber">Plumber</option>
                                <option value="Builder">Builder</option>
                                <option value="Paint">Painter</option>
                                <option value="other">-other-</option>
                            </select>
                        </div>
                        <div class="inputBox">
                            <input type="hidden" name="location" id='location'>
                        </div>

                        <div class="inputBox">
                            <h2> Email :</h2> <input id="editform" class="w100" type="email" name="email"
                                value=<%=data.email %>
                            reqired autocomplete='off' />
                        </div>

                        <div class="inputBox">
                            <h2> user Name :</h2>
                            <input id="editform" type="text" name="user_name" value=<%=data.username %> required>
                        </div>

                        <div class="inputBox">
                            <h2> Experiance :</h2>
                            <input id="editform" type="text" name="exp" value=<%=data.exp%> required>
                        </div>
                        <div class="inputBox">
                            <h2> Password :</h2>
                            <input id="editform" type="password" value="<%= data.password%>" name="password"
                                placeholder="Insert Password" required>
                        </div>
                        <div class="inputBox">
                            <h2> Phone Number :</h2>
                            <input id="editform" type="text" name="phone_num" value=<%=data.phone_num %> required>
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Edit">
                        </div>
                        <div class="inputBox">
                            <input style="width: 125px;" type="button" value="Change location">
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section id='schedule'>

            <form action="/schedule/<%=data.id%>" method="POST" style="display: <%= visible%>;">
                <div class="cenarize-div">
                    <div class="contactForm">
                        <h2 style="margin-bottom: 10px;">Schedule</h2>
                        <div>
                            <div class="inputBox">
                                <label class="time">You are available from :</label>
                                <input type="time" name="from">
                            </div>
                            <div class="inputBox">
                                <label class="time">You are available until :</label>
                                <input name="until" type="time">
                            </div>
                            <div class="inputBox">
                                <label class="time">Your available Days : </label>
                                <input name='date' type="date">
                            </div>
                            <div class="inputBox">
                                <input type="submit" value="Submit">
                            </div>


                        </div>
                    </div>
                </div>

            </form>
            <div class="cenarize-div">
                <div class="contactForm">
                    <% dataSchedule.forEach(ele=>{%>

                        <div class="inputBox">
                            <h2>
                                <%= ele.day %>
                            </h3>
                            <input type="text" name="id" value="<%=ele.id%>" style="display: none;" hidden>
                            <p class="small">
                                <%= ele.hours_avl_from%>
                            </h2>
                        </div>
                        <div class="inputBox">
                            <h2>
                                <%= ele.hours_avl_to %>
                            </h2>
                        </div>


                        <%}) %>
                </div>
            </div>
        </section>
        <section id="contact" class="four">

            

            <div class="cenarize-div">
                <div class="contactForm">

                    <div class="inputBox"><h2>Contact</h2></div>
                    <div class="inputBox"><p>Sent me an email now or call me and let me save your life !!</p></div>

                    <div class="inputBox"><h2>Phone Num: <%= data.phone_num%>
                </h2></div>
                <div class="inputBox"><h2>Email: <%= data.email%>"</h2></div>
            </div>
        </div>

                <div class="col-12" style="display:<%= visibleCont%>">
                    <div class="cenarize-div">
                        <div class="contactForm">
                            <form method="post" action='/message/<%= data.id %>'>
                                <h2>Or You Can Send To Me Adirect Email</h2>
                                <div class="inputBox"><input name='message' type="text" placeholder="Write You Message">
                                </div>
                                <div class="inputBox"> <input name='email' type="text" value='<%= data.email%>'
                                        style="display: none;"></div>
                                <div class="inputBox"> <input style="width: 115px;" type="submit" value="Send Message"
                                        onclick="myFunction()" /></div>
                            </form>
                        </div>
                    </div>
                </div>
            
        </section>

        <%- include('../partials/footer') %>
</body>
<script>
    let cordenation = '<%= data.location%>'
    let isUserAccount = '<%= is_not_enable %>';
    let id_account = '<%= data.id%>';
    let username = '<%= data.username%>';
    let img = '<%= data.img%>';
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/jsAccount/app.js"></script>

</body>

</html>