<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="colorlib.com">
    <script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js"
        integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/ask/askSearch.css">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="styles/contact/reset.css">
    <link rel="stylesheet" href="styles/contact/base.css">
    <link rel="stylesheet" href="styles/contact/layout.css">
    <link rel="stylesheet" href="styles/contact/modules.css">
    <link rel="stylesheet" href="styles/header-footer/header.css">
    <link rel="stylesheet" href="styles/header-footer/footer.css">
    <title>Ask</title>
</head>


<body>
    <%- include('../partials/header') %>
    <main>
        <div class="s01">
            <form method="POST" action="/ask">
                <fieldset>
                <legend>Add Or Search For Question</legend>
              </fieldset>
              <div class="inner-form">
                <div class="input-field first-wrap">
                        <select class="input-field third-wrap" name="type_of_work" id="input_select">
                            <option value="" disabled selected>type of work</option>
                            <option value="Smith">Smith</option>
                            <option value="Carpenter">Carpenter</option>
                            <option value="Plumber">Plumber</option>
                            <option value="Builder">Builder</option>
                            <option value="Paint">Painter</option>
                            <option value="other">-other-</option>
                        </select>
                </div>
                <div class="input-field second-wrap">
                        <input type="text" name="subject" placeholder="Subject" id="input_select">
                  </div>
                <div class="input-field third-wrap">
                  <input class="btn-search" type="submit" value="Search">
                </div>
                <div class="input-field third-wrap" style="display: table-cell;vertical-align: middle;">
                    <a style="text-decoration: none" href="/addQuestion"><div class="btn-search" style="padding-top:10%;">Add Question</div></a>
                </div>
              </div>
            </form>
          </div>
        <section id ='allQue'>
            <% data.forEach (ele=> { %>
                <div class='card'>
                    <div class="container">
                        <div class="card">
                            <div class="face face1">
                                <div class="content">
                                    <img src="https://img.pngio.com/ask-question-png-png-image-png-ask-questions-675_372.png">     
                                    <h4>
                                        <%= ele.subject %>
                                    </h4>
                                </div>
                            </div>
                            <div class="face face2">
                                <div class="content">
                                    <div class="content">
                                        <div id = 'header'>
                                            <img style="width: 40%" src="https://sitemap.searchkings.com/img/team/marco-b7f7f938bb.png" alt="">
                                            <h3>
                                                <%= ele.username %>
                                            </h3>   
                                        </div>
   
                                    </div>
                                    <div class="content">
                                    <h5> <%=ele.is_answered==1 ? "Answered" : 'Not Answered' %> </h5>
                                    </div>
                                    <div>
                                        <p>
                                            <%= ele.que %>
                                        </p>
                                    </div>

                                    <a href="/question/<%= ele.id %>">Show Question</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </a>
                </div>
                <% }) %>
        </section>
        <script src="/js/ask.js"></script>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>