<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Lateef&family=Rakkas&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="/styles/ask/question.css">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header-footer/header.css">
    <link rel="stylesheet" href="/styles/header-footer/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
   
</head>
<body>
    <%- include('../partials/header')%>
    <main>
        <h1 id="que"> </h1>
        <div class="div"> 
            <div>
                <p id="title" >  <%=queData.subject%> </p>
                <p> <%=queData.is_answered==1 ? "Answered" : 'Not Answered' %></p>
            </div>
            <a href="/userPofile?id=<%=queData.user_id%>" class="aaa">
                <p id="username" ><img id="img" src="<%=queData.img%>" alt=""><%=queData.username%></p>
            </a>
            <pre id="code"><%=queData.que%></pre>
        </div>
        <form  class="addQue" action="/addAns/<%= queData.id %>" method="POST" id="form">
            <h3>Add Your Answer</h3>
            <input type="text" name="answer"placeholder="Your Answer" required>
            <input type="hidden" name="user_id" id='user_id'>
            <button class="form-btn dx" type="submit">Add Answer</button>
        </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="https://kit.fontawesome.com/0159277acf.js" crossorigin="anonymous"></script>
    <%- include('../partials/footer')%>
</body>
</html>