<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Lateef&family=Rakkas&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="/styles/ask/question.css">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/header-footer/header.css">
    <link rel="stylesheet" href="/styles/header-footer/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&display=swap" rel="stylesheet">
   
</head>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="div"> 
            <h1 id="que">QUESTION DETAIILS  <i class="far fa-lightbulb"></i></h1>
            <div style="padding: 1%; padding-top: 0px;">
                <a href="/login/acconut/<%= queData.user_id %>?is_not_enable=true%>" class="aaa">
                    <p id="username" ><img id="img" src="<%=queData.img%>" alt="">  <%=queData.username%></p>
                </a>
                <p id='is_ans'> <%=queData.is_answered==1 ? "Answered" : 'Not Answered' %></p>
            </div>
            <pre id="code"><%=queData.que%></pre>
        </div>
        <div id = 'answers_id'>
                <h1> ADD YOUR ANSWER  <i class="far fa-lightbulb"></i></h1>    
         <form  class="addQue" action="/addAns/<%= queData.id %>" method="POST" id="form">
            <input type="text" name="answer"placeholder="Your Answer" required>
            <input  name="user_id" class='user_id' hidden>
            <button class="form-btn dx" type="submit">Add Answer</button>
        </form>
        </div>
        <div id = 'answers_id'>
            <h1>ALL ANSWERS <i class="far fa-lightbulb"></i></h1>
             <% if (ansdata.length !== 0){ %>
                <%ansdata.forEach((ele)=>{%>
                
                <div class="div_ans">

                     <div style="padding: 1%; padding-top: 0px;">
                <a href="/login/acconut/<%= ele.user_id %>?is_not_enable=true%>" class="aaa">
                    <p id="username" ><img id="img" src="<%=ele.img%>" alt="">  <%=ele.username%></p>
                </a>
                <p id='is_ans'> <%=ele.is_true==1 ? "True Answer" : 'Not True' %></p>
            </div>

                <pre id="code"><%=ele.answer%></pre>
                        <h1>ALL REPLYS <i class="far fa-lightbulb"></i></h1>
                <%repData.forEach((rep)=>{%>
                    <% if (rep.ans_id==ele.id){ %>

                        <div class="section">
                                             <div style="padding: 1%; padding-top: 0px;">
                                                 <a href="/login/acconut/<%= rep.user_id %>?is_not_enable=true%>" class="aaa">
                                <p id="username" ><img id="img" src="<%=rep.img%>" > By: <%=rep.username%></p>
                            </a>
                    <p id='is_ans'>Reply</p>
            </div>

                            <pre id="code"><%=rep.mess%></pre>
                        </div>
                    <%}%>
                <%});%>
                <div>
                <h1>ADD YOUR REPLY <i class="far fa-lightbulb"></i></h1>
                    <form action="/addReply/<%= ele.id %>" method="POST" class="reply" id ='reply'>
                        <input type="text" name="mess" placeholder="Add Your Reply" required>
                        <input type="hidden" name="user_id" class='user_id_replay'>
                        <input type="hidden" name="que_id" value="<%= queData.id  %>">
                        <button class="form-btn dx" type="submit" >Add Reply</button>
                    </form>
                </div>

                    </div>

                <%});%>
            <%}%>
        </div>
           

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src = '/js/quePage.js'></script>
    <script src="https://kit.fontawesome.com/0159277acf.js" crossorigin="anonymous"></script>
    <%- include('../partials/footer')%>
</body>
</html>

 